.imagebrandcontainer {
    padding: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 2px;
}

.brandimage {
    width: 150px;
    height: 150px;
}