.container {
  margin: 20px 0 20px 0;
  display: grid;
  grid-gap: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw 0 5vw;
}

.titleOfSection {
  font-size: var(--fontTitle);
  font-weight: 700;
  color: var(--fontColor);
  margin: 0;
  padding: 0;
}

.sectionLink {
  color: var(--secondaryColor);
  text-decoration: none;
  font-size: var(--fontTitle);
  font-weight: 700;
  cursor: pointer;
}

.noProductsContainer {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 300px 138px;

  align-content: center;
  justify-content: center;

  align-items: center;
  justify-items: center;
}

.imageContainer {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 150px;
  aspect-ratio: 1/1;
}

.span {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  color: var(--secondaryColor);
  font-size: var(--fontSubTitle);
  font-weight: 700;
  align-self: flex-start;
}

.imageContainer > svg {
  animation: rotateLoading 2s infinite;
  animation-timing-function: linear;
  fill: var(--secondaryColor);
}

@keyframes rotateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}