.list {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-top: 6vh;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--primaryColorSub);
  transition: background-color 0.5s;
  padding: 10px;
}

.listContainer {
  flex: 6;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 0vw;
  display: flex;
  justify-content: center;
  transform: translate(-30%, 0%);
  
}

@keyframes rotateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spanLoading {
  font-size: var(--fontTitle);
  font-weight: 700;
  color: var(--secondaryColor);
}