.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GLOBAL VARIABLES: */

.globalVariables {
  --fontTitle: 1.5rem;
  --fontSubTitle: 1.2rem;
  --fontMedium: 1rem;
  --fontSmall: 0.8rem;
  --fontSmallest: 0.7rem;
}

.darkTheme {
  --primaryColor: #424242;
  --primaryColorSub: #242424;
  --secondaryColor: #651fff;

  --fontColor: white;
  --fontColorWithLessOpacity: rgba(255, 255, 255, 0.3);
  --dangerColor: crimson;
}

.lightTheme {
  --primaryColor: white;
  --primaryColorSub: rgb(240, 240, 240);
  --secondaryColor: #651fff;

  --fontColor: black;
  --fontColorWithLessOpacity: rgba(0, 0, 0, 0.3);
  --dangerColor: crimson;
}

.mainContainer {
  background-color: var(--primaryColorSub);
  transition: background-color 0.5s;
  width: 100%;
}