.header {
  height: 3rem;
  background-color: var(--secondaryColor);
}

.headerParam {
  font-size: var(--fontSmall);
  color: white;

  text-transform: capitalize;

  border-right: 1px solid var(--fontColorWithLessOpacity);
  border-left: 1px solid var(--fontColorWithLessOpacity);
}

.containerParam {

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: var(--fontSmall);
  color: white;

  text-transform: capitalize;
}

.widthSmall {
  width: 4rem;
}

.widthMedium {
  width: 7rem;
}

.widthLarge {
  width: 10rem;
}

.containerOrder {
  padding: 0.5rem;
  border-radius: 50%;
}

.btnOrder {
  font-size: var(--fontMedium);
  cursor: pointer;
}

.btnOrder:hover {
  filter: drop-shadow(1px 1px 0 white)
  drop-shadow(-1px -1px 0 white)
  drop-shadow(1px -1px 0 white)
  drop-shadow(-1px 1px 0 white)
  drop-shadow(1px 0px 0 white) 
  drop-shadow(-1px 0px 0 white)  
  drop-shadow(0px 1px 0 white) 
  drop-shadow(0px -1px 0 white);
}