.header {
  height: 3rem;
  background-color: var(--secondaryColor);
}

.headerParam {
  font-size: var(--fontSmall);
  color: white;

  text-transform: capitalize;

  border-right: 1px solid var(--fontColorWithLessOpacity);
  border-left: 1px solid var(--fontColorWithLessOpacity);
}

.widthSmall {
  width: 4rem;
}

.widthMedium {
  width: 7rem;
}

.widthLarge {
  width: 10rem;
}