.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 8vh;
  margin-left: 1vh;
  margin-bottom: 6vh;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--primaryColorSub);
  transition: background-color 0.5s;
}

.listContainer {
  flex: 6;
  margin-left: 15vw;
  transform: translate(-50%, 1%);
  

}


.listContainer.CommonButton{
  z-index: 10;
}
.BasicCard{
;
}
@keyframes rotateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spanLoading {
  font-size: var(--fontTitle);
  font-weight: 700;
  color: var(--secondaryColor);
}