*{
    box-sizing: border-box;
}

.container{
    box-sizing: border-box;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;    
}
.formContainer:before,
.formContainer:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 4px;
      transform: translate(-50%, -50%);
    }
.formContainer:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

.formContainer:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }


.formContainer label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    width: 500px;
}

.formContainer input {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 5px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
 
    .butt {
      outline: none;
      background: accent;
      width: 100%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: #4285F4;
      font-family: inherit;
      font-size: inherit;
      font-weight: semibold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
    }