.row {
  border-bottom: 1px solid var(--fontColorWithLessOpacity);
}

.rowParam {
  font-size: var(--fontSmallest);
  color: var(--fontColor);

  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  min-height: 5rem;
}

.rowAdjust {
  height: 5rem;
}