.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerCarrousel {
  width: 420px;
}

@media (min-width: 840px) {
  .containerCarrousel {
    width: 840px;
  }
}

@media (min-width: 1260px) {
  .containerCarrousel {
    width: 1260px;
  }
}

@media (min-width: 1680px) {
  .containerCarrousel {
    width: 1680px;
  }
}