.container {
  height: 3rem;
  width: 100%;
  background-color: #DDDBDD;
  overflow: hidden;
  position: relative;

  opacity: 0.5;
}

.container:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg, 
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0,0 , 0.5) 60%,
    rgba(0, 0, 0, 0)
  );
  animation: shimmer 1s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}