.notfoundpage{
    padding-top: 1rem;
    size: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgNotFound{
    width: 30rem;
}

@media screen and (max-width: 800px){
    .notfoundpage{
        flex-direction: column;
    }
    .notfoundpage_text{
        text-align: center;
    }
}