.ads{
    display: flex;
    flex-direction: row;
    align-content: center;
    height:45vh;
    margin-top: 14vh;
    background-image: url(../../assets/background_ads.jpg);
    background-position:center;
    background-size:contain;
}
.ads img{
    height: 45vh;
    margin-left: 40vw;
}

.catalogue{
    margin-top: 6vh;
    margin-left: 1.1vw;
}

.catalogue h2{
    color: rgb(65, 65, 65);
    display: inline;
    margin-inline-start: auto;
    text-transform: uppercase;
    text-overflow: clip;
    font-size: 3vh;
    margin: 6vh 1.2vw 0 1.2vw;
    
}

.brandsTitle{
    color: rgb(65, 65, 65);
    font-size: 4.5vh;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}
