.ads{
    text-align: center;
    padding: 1rem;
    justify-self: center;
    height:45vh;
    max-width: 90rem;
    min-width: 10rem;
    margin-top: 4vh;
}

.ads img{
    height: 45vh;
    object-fit: contain;
    border-radius: 0.5rem;
}

.catalogue{
    padding: 1rem;
    margin-top: 10vh;
}

.catalogue h2{
    color: rgb(65, 65, 65);
    display: inline;
    text-transform: uppercase;
    font-size: 3vh;
    margin: 9vh 9vw 3vh 2vw;  
}

.sectionLink {
    color: rgb(65, 65, 65);
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3vh;
    font-weight: bolder;
    margin-left: 58rem;
    cursor: pointer;
}


.brandsTitle{
    color: rgb(65, 65, 65);
    font-size: 4.5vh;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}
