.container {
  display: grid;
  grid-template-columns: 420px 420px;
  grid-auto-rows: 338px;
  grid-gap: 10px;
  grid-row-gap: 30px;
}

@media (max-width: 759px) {
  .container {
    grid-template-columns: 420px;
  }
}

@media (min-width: 760px) {
  .container {
    grid-template-columns: 420px;
  }
}

@media (min-width: 1190px) {
  .container {
    grid-template-columns: 420px 420px;
  }
}