.container {
  margin: 0;
  border-radius: 16px;
  background-color: var(--primaryColor);

  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  color: var(--fontColor);
}

.title {
  color: var(--fontColor);
}